.navbar-brand{
  color: #ffffff;
}

.nav-color{
background-color: #333;

}

.nav-color .navbar-nav>li>a {
    color: #ffffff;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #2a6752;
}

.navbar {
    border-radius: none !important;
}